@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow: hidden;
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 1vw;
    color: #95979c;
}

/*hud*/

.hud-container{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5vw;
    position: absolute;
    right: -20vw;
    bottom: 0.5vw;
    width: 15.2vw;
    height: 3vw;
    border-radius: 0.3vw;
}

.x{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #2b2b2b;
    font-size: 1vw;
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 0.3vw;
}

.fa-solid{
    /*text-shadow: 0px 0px 0.25vw rgba(255, 255, 255, 0.233);*/
    color: rgb(197, 197, 197);
}

/*carhud*/

.carhud-container{
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    bottom: -20vw;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    min-width: 13vw;
    height: 2.6vw;
}

.speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.6vw;
    height: 2.6vw;
    background: #2b2b2b;
    border-radius: 0.3vw;
}

.speed-digits{
    font-weight: bold;
    font-size: 0.9vw;
}

.speed-type{
    font-size: 0.6vw;
    color: rgb(197, 197, 197);
}

.streetlabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.6vw;
    min-width: 6vw;
    background: #2b2b2b;
    border-radius: 0.3vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}

.fuel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6vw;
    width: 2.6vw;
    background: #2b2b2b;
    border-radius: 0.3vw;
}

.zone{
    font-weight: bold;
    font-size: 0.8vw;
}

.street{
    font-size: 0.65vw;
    color: rgb(197, 197, 197);
}

/*watermark*/

.watermark-container {
    position: absolute;
    top: -0.4vw;
    right: 0.6vw;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.logo {
    width: 5vw;
    height: 5vw;
    opacity: 65%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    margin-left: 10px;
    font-size: 16px;
    background: #2b2b2b;
    box-shadow: 0px 0px 0.2vw 0.01vw #2b2b2b;
    border-radius: 0.3vw;
    height: 1.5vw;
    min-width: 2vw;
    font-weight: 700;
    padding-left: 0.4vw;
    padding-right: 0.5vw;
}

.icon-id{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0.1vw;
}
